{% block nav %}
{% load staticfiles %}

<!--navigation-->
<nav class="navbar navbar-expand-md navbar-dark bg-custom fixed-top">

  <!--brand-->
  <a class="navbar-brand" href="{% url 'home' %}">GB Names</a>

  <!--navigation: hidden-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--navigation: elements-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent" role="tablist">
    <ul class="navbar-nav mr-auto nav" id="nav-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="names-tab" data-toggle="tab" role="tab" href="#names">Names</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="location-tab" data-toggle="tab" role="tab" href="#location">Location</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="infodrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="nav-link-text">About</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="infodrop">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#aboutModal">About GB Names</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#methModal">Methodology</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#cdrcModal">Consumer Data Research Centre</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#udlModal">Urban Dynamics Lab</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#privModal">Privacy Policy</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#versionModal">Version history</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-lg-0" method="post" id="searchSur">
      <input class="form-control mr-sm-2" type="text" placeholder="Family name" name="q" id="surname" maxlength="50">
      <input class="btn btn-outline-light my-2 my-sm-0 mr-sm-2" type="reset" value="Reset">
		  <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
		</form>
  </div>
</nav>

<!--about-->
<div id="aboutModal" class="modal" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4>=GB Names Data</h4>
    </div>
    <div class="modal-body text-justify">
      <h5>Data</h5>
      <p>
        GB Names focuses upon the origins and spread of family bloodlines through surnames as manifest in the past and over more recent years.
      </p>
      <p>
        Digitally encoded Historic Census data for England, Scotland, and Wales provide population-wide microdata of individuals’ names and addresses.
        This integrated collection of historic census microdata covers the decennial census of England and Wales for 1851, 1861, 1881, 1891, 1901, 1911,
        and for Scotland for the period 1851 to 1901. The addresses are linked to parishes, which have been digitised into a set of two consistent parish geographies.
        See for more information: <a href="https://beta.ukdataservice.ac.uk/datacatalogue/studies/study?id=7481">Higgs and Schürer 2014</a>.
      </p>
      <p>
        Because contemporary censuses do not disclose names, extensive databases of names at the addresses-level were sought from public versions of the electoral
        register from 1997 until 2016, with supplements from consumer data from 2002 onwards to capture those that opt-out or are not eligible to vote.
        The ‘Consumer Registers’ are linked to bolster their coverage and are found to be representative of the vast majority of the UK’s adult population.
        See for more information: <a href="https://rss.onlinelibrary.wiley.com/doi/abs/10.1111/rssa.12476">Lansley, Li, and Longley 2019</a>.
      </p>
      <h5>Funding</h5>
      <p>
        This work is funded by the UK ESRC Consumer Data Research Centre (CDRC) grant reference ES/L011840/1 and EPSRC grant EP/M023583/1 (‘UK Regions Digital Research Facility’).
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary float-right" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<!--cdrc-->
<div id="cdrcModal" class="modal" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
        <h4>Consumer Data Research Centre</h4>
    </div>
    <div class="modal-body text-justify">
      <p>
        Vast amounts of UK consumer data are generated each day, providing valuable insight to help organisations operate more efficiently. It’s not just businesses that benefit. Researchers can utilise
        data to make the UK a better place. The <a href="https://www.cdrc.ac.uk/">Consumer Data Research Centre</a> (CDRC) is working with consumer-related organisations to open up their data resources; to our trusted researchers.
        This enables them to carry out important social and economic research.
      </p>
      <p>
        The CDRC was established by the <a href="http://www.esrc.ac.uk/">UK Economic and Social Research Council</a> as part of <a href="https://www.cdrc.ac.uk/contact/faqs/">phase two of the Big Data Network</a> to:
      </p>
      <ul>
        <li>Contribute towards ensuring the future sustainability of UK research using consumer data</li>
        <li>Support consumer related organisations to maximise their innovation potential</li>
        <li>Drive economic growth</li>
      </ul>
      <p>
        The CDRC brings together world-class researchers from the University of Leeds, University College London, University of Liverpool and the University of Oxford to offer a range of expert services to a wide range of users.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary float-right" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<!--udl-->
<div id="udlModal" class="modal" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
        <h4>Urban Dynamics Lab</h4>
    </div>
    <div class="modal-body text-justify">
      <p>
        The Urban Dynamics Lab (UDL) at University College London is part of a five year EPSRC-funded research project (<a href="http://gow.epsrc.ac.uk/NGBOViewGrant.aspx?GrantRef=EP/M023583/1">UK Regions Digital Research Facility</a>)
        bringing together expertise from across UCL to explore and address questions at the intersection of city and regional economic development and urban modelling, data analytics and computing:
      </p>
      <ul>
        <li><a href="https://www.bartlett.ucl.ac.uk/space-syntax">Space Syntax</a></li>
        <li><a href="https://www.bartlett.ucl.ac.uk/casa">Centre for Advanced Spatial Analysis</a></li>
        <li><a href="http://www.geog.ucl.ac.uk">Geography</a></li>
        <li><a href="http://www.cs.ucl.ac.uk/home/">Computer Science</a></li>
      </ul>
      <p>
        The project is firmly based on a commitment to applied research and exploring avenues for policy impact within the UK regions in co-design with Local and Central Government, as well as project partners.
      </p>
      <p>
        The project is supported by a range of partners, including Bank of England, Greater London Authority, SAS, Intel, Future Cities Catapult, Core Cities, Centre for Cities, Space Syntax Limited, and will involve the
        implementation of a policy engagement and outreach programme across the regions The UKRDRF grant is part of the RCUK's Digital Economy programme and works in conjunction with other Digital Economy Centres across the UK.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary float-right" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<!--methodology-->
<div id="methModal" class="modal" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
        <h4>Methodology</h4>
    </div>
    <div class="modal-body text-justify">
      <h5 id="m1">Contour Maps</h5>
      <p>
        One way to analyse and compare individual surname distributions over time without being hindered by changing administrative areas is by point pattern analysis.
        We first assign every individual found in the historic census data to the centroid of the parish with which they are associated. Similarly, we geocode all
        individuals found in the Consumer Registers directly through the coordinates associated with each postcode. We subsequently map the spatial patterns of these
        point events on a surname-by-surname basis through a process called Kernel Density Estimation (KDE). KDE is a non-parametric method that places a search window
        (kernel) over a point and uses the information within this kernel to estimate point densities.
      </p>
      <p>
        For the historic data, KDEs are only calculated for surname populations of at least 30 individuals. For the contemporary Consumer Registers the surname populations
        consisting of at least 50 individuals. This is in the first place done because KDE calculations cannot be executed if there are too few points. More importantly,
        because individual location data at the postcode level are used for the KDE calculations of the Consumer Registers, we felt it was prudent to increase the minimum of occurrences slightly.
        See for more information: <a href="http://www.newcastle.gisruk.org/proceedings/">Van Dijk et al. 2019</a>.
      </p>
      <h5 id="m2">Historic Forenames / Recent Forenames</h5>
      <p>
        For your search, the Historic Forenames and Recent Forenames show the forenames with the highest frequency in the period 1851-1911 and 1997-2016, respectively.
        Forenames are colour coded according to their classification as male or female. Forenames that could not be classified as either male or female are excluded.
        For the Historic Census data classification as male or female is done by the gender variable. For the Consumer Registers, a lookup table ("MONICA") is used to infer an individual's gender.
      </p>
      <h5 id="m3">Top Historic Parishes / Top Middle Layer Super Output Areas</h5>
      <p>
        For your search, the Top Historic Parishes and Middle Layer Super Output Areas (<a href="https://www.ons.gov.uk/methodology/geography/ukgeographies/censusgeography">MSOA</a>) show the administrative unit in which the surname was found most frequently. The Top Historic
        Parishes show the Registration District and the Parish, whereas the MSOAs show the Local Authority District and the name of the 2011 MSOA.
        Rather than for individual years, the Top Historic Parishes and the Top Middle Layer Super Output Areas are taken over the entire time period (e.g. 1851-1911 and 1997-2016).
      </p>
      <h5 id="m4">2011 Output Area classification</h5>
      <p>
        For your search, this statistic shows the modal value for the Supergroup and Group of the 2011 Output Area Classification in 2016. The 2011 OAC has been created through a collaboration
        between the Office for National Statistics (ONS) and University College London (UCL). The 2011 OAC is a hierarchical geodemographic classification of the UK consisting of 8 Supergroups,
        26 Groups and 76 Subgroups. See for more information: <a href="http://josis.org/index.php/josis/article/view/232">Gale et al. 2011</a>.
      </p>
      <h5 id="m5">Access to Health (AHAH)</h5>
      <p>
        For your search, this statistic shows the modal value of the AHAH Index decile. AHAH is a multi-dimensional index developed by the CDRC for Great Britain
        measuring how ‘healthy’ neighbourhoods are. It combines together indicators under three different domains of accessibility: retail Environment, health services, and physical environment.
        See for more information: <a href="https://doi.org/10.1016/j.healthplace.2018.08.019">Green et al. 2018</a>.
      </p>
      <h5 id="m6">Index of Multiple Deprivation</h5>
      <p>
        For your search, this statistic shows the average score (classified in deciles) on the Index of Multiple Deprivation. See for more information:
        <a href="https://data.cdrc.ac.uk/dataset/english-indices-of-deprivation-2010-and-2015-data-pack">English Indices of Deprivation 2010 and 2015 Data Pack</a>.
      </p>
      <h5 id="m7">Broadband Speed</h5>
      <p>
        This statistic shows the modal value of the broadband speed available to the surname you searched for as the fixed broadband download speed in Mbit/s.
        For more information: <a href="https://data.cdrc.ac.uk/dataset/broadband-speed">Broadband Speed</a>.
      </p>
      <h5 id="m8">Internet User Classification</h5>
      <p>
        For your search, this statistic shows the modal classification of the surname you searched for in terms of its Internet User Classification (IUC).
        The IUC is a bespoke geodemographic classification that describes how people living in different parts of Great Britain interact with the Internet.
        For more information: <a href="http://cdrc.ac.uk/book">Alexiou and Singleton 2018</a>.
      </p>
      <h5 id="m9">Consumer Vulnerability</h5>
      <p>
        The last geodemographic classification shows the modal classification in terms of consumer vulnerability for the name you searched for.
        Some consumers are more vulnerable to marketing practices due to their personal traits such as age, health or household makeup. This vulnerability varies by product and industry.
        Consumer vulnerability here is defined as the risk that a consumer’s mental, physical or financial welfare may be damaged when engaging in a market interaction.
        For more information: <a href="https://github.com/michael-adcock/consumer_vulnerability">Adcock 2018</a>.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary float-right" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<!--privacy-->
<div id="privModal" class="modal" role="dialog">
  <div class="modal-content">
  <div class="modal-header">
      <h4>Privacy Policy</h4>
    </div>
    <div class="modal-body text-justify">
      GB Names has adopted the <a href="https://www.ucl.ac.uk/legal-services/privacy/general-privacy-policy">UCL Privacy Policy</a>.
      Please take a look at <a href="https://www.ucl.ac.uk/legal-services/privacy/general-privacy-policy">the policy page</a> to understand what data we collect about you and how we process it.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary float-right" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<!--version history-->
<div id="versionModal" class="modal" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4>Version history</h4>
    </div>
    <div class="card-body text-justify p-3">
      <div>
      <div class="card mb-3">
        <div class="card-header pl-3 pb-1">
          <h5>Current version</h5>
        </div>
        <div class="card body p-3">
          <h6 class="card-title">Version 0.20</h6>
          <h7 class="card-subtitle text-muted">Released September 2019</h7>
          UI tweaks, bug fixes.
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header pl-3 pb-1">
          <h5>Previous versions</h5>
        </div>
        <div class="card body p-3">
          <h6 class="card-title">Version 0.10</h6>
          <h7 class="card-subtitle text-muted">Released February 2019</h7>
          Redesigned UI, more aligned to Worldnames website.
        </div>
        <div class="card body p-3">
          <h6 class="card-tittle">Version 0.00</h6>
          <h7 class="card-subtitle text-muted">Released September 2018</h7>
          A rewrite of GB Names, completely new data set.
        </div>
       </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary float-right close-modal" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

{% endblock %}
