{% extends "index.html" %}
{% load staticfiles %}


<!-- Search database -->
{% block search %}

    {% if not qvalid %}

      <p class="card-text text-justify top pt-3">
      Please type in a surname before hitting submit.
      </p>

    {% elif db_sur %}

    <!-- Searched for-->
    <p class="card-text text-justify top pt-3">
    You searched for <strong>{{ search_sur }}</strong>. We have data available for the following years:
    <form id="year_search">

      <input type="hidden" name="q" value= "{{ search_sur }}" id="name_search"/>
      <select class="form-control" name="y" id="year">

        <!-- Available years -->
        <option disabled>Select a year:</option>

        {% for d in data %}
        <option>{{ d }}</option>
        {% endfor %}

      </select>
    </form>
    </p>

    <!-- <p class="card-text text-justify top">
    Loop through the available years automatically:
    </p>
    <p class = "card-text text-center top">
    <label class="switch text-center">
      <input type="checkbox" id='autoplay'>
      <span class="slider round"></span>
    </label>
    </p> -->

    <!-- Not available-->
    {% else %}
      <p class="card-text text-justify top pt-3">
      Unfortunately, <strong>{{ search_sur }}</strong> is not in our database.
      </p>
    {% endif %}

{% endblock %}


<!-- Produce location based topname -->
{% block topnames %}

<div id="collapseSearchMax" class="collapse show" aria-labelledby="collapseSearchMax">
  <div class="card-body p-2" id="locList">
    {% csrf_token %}
    <p class="card-text text-justify top">
    If you would like to see the most frequently occuring surnames at your current location,
    please click on the button below.
    </p>
    <form method="post" id="locTop">
      <p class="card-text text-center ml-0">
      {% csrf_token %}
      <button class="btn btn-primary btn-sm text-center" id= 'share-loc' type='submit'>Use my location</button>
      <img src="{% static 'load.gif' %}" id='loading-indicator' style='display:none' class="text-center"/>
      </p>
    </form>
    </p>
  </div>
</div>

{% endblock %}


<!-- Produce diversity alpha -->
{% block alpha %}

<div id="collapseAlpha" class="collapse" aria-labelledby="collapseAlpha">
  <div class="card-body p-2" id="locAlpha">
  </div>
</div>

{% endblock %}


<!-- Produce unique names -->
{% block uniq %}

<div id="collapseUniq" class="collapse" aria-labelledby="collapseUniq">
  <div class="card-body p-2" id="locUniq">
  </div>
</div>

{% endblock %}


<!-- Produce list most popular names -->
{% block toplist %}

<div id="collapseTop" class="collapse" aria-labelledby="collapseTop">
  <div class="card-body p-2" id="topNames">
  </div>
</div>

{% endblock %}
