<!doctype html>
<html lang="en">

  <head>

    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="GBNames,family names,surnames,genealogy,data science,visualisation">
    <meta name="author" content="JT van Dijk">
    <link rel="icon" href="{% static 'cdrc_fav.png' %}"/>

    <title>GBNames</title>

    <!--bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
    <!--leaflet css-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="anonymous"/>
    <!--leaflet easy button css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css" crossorigin="anonymous"/>
    <!--cookie alert css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css" crossorigin="anonymous"/>
    <!--custom css-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" crossorigin="anonymous"/>
    <!--open sans-->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans::400,300,700" media="all" type="text/css"/>
    <!-- csrf token-->
    {% csrf_token %}

  </head>

<body>

  <!--logo and search section-->
  <div class="navigation-wrapper">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10 my-3">
          <div class="row justify-content-center">

            <!--logo-->
            <div class="col-lg-6 branding">
              <a href="https://www.cdrc.ac.uk/"><img src="{% static 'cdrc_logo_top.png' %}" class="text-center" height="80" width="250" alt="cdrc logo"/></a>
            </div>

            <!--search-->
            <div class="col-lg-6">
              <form class="form-inline justify-content-center mt-3 branding-form" method="post" id="searchSur">
                <input class="form-control mr-sm-2 mb-2" type="text" placeholder="Family name" name="surname" id="surname" maxlength="50">
                <button class="btn btn-outline-primary mb-2" type="submit">Search</button>
              </form>
            </div>

            <!--close section-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--include navigation-->
  {% include "nav.html"%}
  {% block nav %}
  {% endblock %}

  <!--main content -->
  <div class="content-wrapper">
    <div class="container-fluid">

      <!--search details-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <p class="pb-3 pt-4" id="searchParam"></p>
        </div>
      </div>

      <!--jumbotron-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div id="jumbotron" class="jumbotron bg-notes p-3 mb-xl">
            <h1>Welcome to GBNames
              <button id="clsJumbo" class="btn p-0 float-right">
                <span class="fas fa-times fa-2x pt-1"></span>
              </button>
            </h1>
            <p class="lead text-justify">
              Our research, carried out at the ESRC Consumer Data Research Centre (CDRC) and the UCL Urban Dynamics Lab,
              is exploring the generational and inter-generational residential movements of family groups across Great Britain,
              using historic censuses and recent consumer registers. The CDRC holds a number of novel consumer datasets that
              chart recent movements and changes, including the links between geographical and social mobility.
            </p>
            <div class="mt-4 text-center">
              <h3>What's your family name?</h3>
            </div>
            <div class="mt-4 text-center p-1 mb-3">
              <form class="form-inline justify-content-center" method="post" id="initSur">
                <input class="form-control mr-sm-2 mb-2" type="text" placeholder="Family name" name="surname" id="init_surname" maxlength="50">
                <button class="btn btn-outline-primary mb-2" type="submit">Search</button>
              </form>
            </div>
            <div class="text-muted text-small text-justify">
              GBNames records surname searches for statistical purposes. Surnames that have many bearers may take up to 30 seconds to be retrieved from our database,
              depending on the speed of your internet connection. Visit the website of the <a href="https://www.cdrc.ac.uk/">Consumer Data Research Centre</a> to
              find out more about our available data products, related maps, and details on how to gain access to our Open, Safeguarded, and Secure data sets.
            </div>
          </div>
        </div>
      </div>

      <!--map section-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="card mb-3" >
            <div id="kdemap" class="card-body p-0">
              <div id="mapload" class="loading" style="display:none">
                <img src="{% static 'load.gif' %}" class="text-center" height="50" width="50" alt="loading indicator"/>
              </div>
              <canvas id="cardMap" width="100" height="650"></canvas>
            </div>
            <div id="mapLegend">
            </div>
          </div>
        </div>
      </div>

      <!--forename section-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="row justify-content-center">

            <!--historic forenames-->
            <div class="col-lg-6">
              <div class="card mb-3">
                <div class="card-header pl-3 pr-2 pb-1">
                  <h4>Historical Forenames</h4>
                </div>
                <div>
                  <ul id="ForeNamesHist" class="list-inline ml-3 mt-2 mr-3 mb-3"></ul>
                  <div id="foreHistLegend" class="p-2">
                  </div>
                </div>
              </div>
            </div>

            <!--recent forenames-->
            <div class="col-lg-6">
              <div class="card mb-3">
                <div class="card-header pl-3 pr-2 pb-1">
                  <h4>Recent Forenames</h4>
                </div>
                <div>
                  <ul id="ForeNamesCont" class="list-inline ml-3 mt-2 mr-3 mb-3"></ul>
                  <div id="foreContLegend" class="p-2">
                  </div>
                </div>
              </div>
            </div>

            <!--close section-->
          </div>
        </div>
      </div>

      <!--top section-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="row justify-content-center">

            <!--top historic parishes-->
            <div class="col-lg-6">
              <div class="card mb-3">
                <div class="card-header pl-3 pr-2 pb-1">
                  <h4 class="m-0">Top Historical Parishes</h4>
                  <small>Historical Parishes</small>
                </div>
                <div class="table-fixed p-3 m-0" style="width:98%">
                  <table id='topPar'></table>
                </div>
              </div>
            </div>

            <!--top recent msoas-->
            <div class="col-lg-6">
              <div class="card mb-3">
                <div class="card-header pl-3 pr-2 pb-1">
                  <h4 class="m-0">Top Areas Today</h4>
                  <small>Middle layer Super Output Areas</small>
                </div>
                <div class="table-fixed p-3 m-0" style="width:98%">
                  <table id='topMSOA'></table>
                </div>
              </div>
            </div>

          <!--close section-->
          </div>
        </div>
      </div>

      <!--output area classifciation-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="card mb-3">
            <div class="card-header pl-3 pr-2 pb-1">
              <h4 class="m-0">Output Area Classification</h4>
              <small>Neighbourhoods classification</small>
            </div>
            <div class="card-body p-3" id="cardCat">
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <div id="sgCat">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div id="gCat">
                  </div>
                </div>
                <div>
                  <div id="dscCat">
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-2 col-md-3 m-0 my-auto">
                  <div class="card-body p-1 thumbnail text-center">
                    <a href="{% static 'OAC.pdf' %}" target="_blank"><img src="{% static 'OAC_thumb.png' %}" class="img-responsive border" height="150" width="100" alt="oac thumbnail"/></a>
                  </div>
                </div>
                <div class="col-lg-10 col-md-9 m-0 my-auto">
                  <div class="card-body p-0 text-justify">
                    <strong>ABOUT</strong> The Output Area Classicication is a classification of neighbourhoods, arranged into Supergroups and
                    Groups based upon 2011 Census of Population data. We created this through a collaboration with the Office for National Statistics
                    (ONS) and plan to update it following the 2021 Census. We show the 2011 OAC Supergroup and Group in which your selected surname
                    occurs most frequently.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--access to health and hazards section-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="card mb-3">
            <div class="card-header pl-3 pr-2 pb-1">
              <h4 class="m-0">Healthy Neighbourhoods</h4>
              <small>Access to Healthy Assets and Hazards</small>
            </div>
            <div class="card-body p-0">
              <div id="AHAH" style="display:none" class="pb-2 ">
                <div class= "ramp_class p-3">
                  <div id='ahah1' class="ramp a1" style="border-radius:.25rem 0 0 0.25rem"></div>
                  <div id='ahah2' class="ramp a2"></div>
                  <div id='ahah3' class="ramp a3"></div>
                  <div id='ahah4' class="ramp a4"></div>
                  <div id='ahah5' class="ramp a5"></div>
                  <div id='ahah6' class="ramp a6"></div>
                  <div id='ahah7' class="ramp a7"></div>
                  <div id='ahah8' class="ramp a8"></div>
                  <div id='ahah9' class="ramp a9"></div>
                  <div id='ahah10' class="ramp a10" style="border-radius:0 .25rem .25rem 0"></div>
                </div>
              </div>
              <div id="dscAHAH">
              </div>
              <div class="p-3">
                <div class="row justify-content-center">
                  <div class="col-lg-2 col-md-3 m-0 my-auto">
                    <div class="card-body p-1 thumbnail text-center">
                      <a href="{% static 'AHAH.pdf' %}" target="_blank"><img src="{% static 'AHAH_thumb.png' %}" class="img-responsive border" height="150" width="100" alt="ahah thumbnail"/></a>
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 m-0 my-auto">
                    <div class="card-body p-0 text-justify">
                      <strong>ABOUT</strong> Access to Healthy Assets and Hazards (AHAH) is a multi-dimensional index for Great Britain developed by the
                      Consumer Data Research Centre (CDRC in order to describe neighbourhoods as more or less healthy places in which to live.
                      Various data describe access to retail facilities, health services, and physical features. Neighbourhoods can be ranked from best
                      to worst and we show the decile in which your surname occurs most frequently.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--internet user classification-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="card mb-3">
              <div class="card-header pl-3 pr-2 pb-1">
                <h4 class="m-0">Internet Use and Engagement</button>
              </h4>
              <small>Internet User Classification</small>
            </div>
            <div class="card-body p-0">
              <div class="p-3">
                <div id="IUC">
                </div>
                <div id="dscIUC">
                </div>
                <div class="row justify-content-center">
                  <div class="col-lg-2 col-md-3 m-0 my-auto">
                    <div class="card-body p-1 thumbnail text-center">
                      <a href="{% static 'IUC.pdf' %}" target="_blank"><img src="{% static 'IUC_thumb.png' %}" class="img-responsive border" height="150" width="100" alt="iuc thumbnail"/></a>
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 m-0 my-auto">
                    <div class="card-body p-0 text-justify">
                      <strong>ABOUT</strong> The Consumer Data Research Centre Internet User Classification describes the nature and extent of
                      Internet usage by the residents of neighbourhoods across Great Britain. We show the Group into which the largest number
                      of bearers of your selected surname fall.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--index of multiple deprivation and broadband speed-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="row justify-content-center">

            <!--index of multiple deprivation deciles-->
            <div class="col-lg-6">
              <div class="card mb-3">
                <div class="card-header pl-3 pr-2 pb-1">
                  <h4 class="m-0">Neighbourhood Deprivation</h4>
                  <small>Index of Multiple Deprivation</small>
                </div>
                <div class="card-body p-3">
                  <div id="IMD" style="display:none">
                    <div class= "ramp_class p-0">
                      <div id="imd1" class="ramp i1" style="border-radius:.25rem 0 0 0.25rem"></div>
                      <div id="imd2" class="ramp i2"></div>
                      <div id="imd3" class="ramp i3"></div>
                      <div id="imd4" class="ramp i4"></div>
                      <div id="imd5" class="ramp i5"></div>
                      <div id="imd6" class="ramp i6"></div>
                      <div id="imd7" class="ramp i7"></div>
                      <div id="imd8" class="ramp i8"></div>
                      <div id="imd9" class="ramp i9"></div>
                      <div id="imd10" class="ramp i10" style="border-radius:0 .25rem .25rem 0"></div>
                    </div>
                  </div>
                  <div id="dscIMD">
                  </div>
                </div>
              </div>
            </div>

            <!--broadband speed-->
            <div class="col-lg-6">
              <div class="card mb-3">
                <div class="card-header pl-3 pr-2 pb-1">
                  <h4 class="m-0">Broadband Speed</h4>
                  <small>Fixed broadband download speed</small>
                </div>
                <div class="card-body p-3">
                  <div id="BBS" style="display:none">
                    <div class= "ramp_class p-0">
                      <div id="bbs1" class="ramp b1" style="border-radius:.25rem 0 0 0.25rem"></div>
                      <div id="bbs2" class="ramp b2"></div>
                      <div id="bbs3" class="ramp b3"></div>
                      <div id="bbs4" class="ramp b4"></div>
                      <div id="bbs5" class="ramp b5"></div>
                      <div id="bbs6" class="ramp b6"></div>
                      <div id="bbs7" class="ramp b7"></div>
                      <div id="bbs8" class="ramp b8"></div>
                      <div id="bbs9" class="ramp b9"></div>
                      <div id="bbs10" class="ramp b10" style="border-radius:0 .25rem .25rem 0"></div>
                    </div>
                  </div>
                  <div id="dscBBS">
                  </div>
                </div>
              </div>
            </div>

          <!--close section-->
          </div>
        </div>
      </div>

      <!--frequencies available historic data-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="card mb-3">
            <div class="card-header pl-3 pr-2 pb-1">
              <h4 class='m-0'>Frequencies</h4>
              <small>1851, 1861, 1881-1901 and 1911</small>
            </div>
            <div class="card-body p-0" id="cardFreqHr">
              <div class="table-responsive p-3 m-0" style="width:98%">
                <table id='tableHR'></table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--frequencies available recent data-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="card mb-3">
            <div class="card-header pl-3 pr-2 pb-1">
              <h4 class="m-0">Frequencies</h4>
              <small>1997-2016</small>
            </div>
            <div class="card-body p-0" id="cardFreqCr">
              <div class="table-responsive p-3 m-0" style="width:98%">
                <table id='tableCR'></table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--cdrc data-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class='alert bg-notes text-justify'>
            <h4>CDRC Data</h4>
            <p class="text-muted pt-2">
              Visit the website of the <a href="https://www.cdrc.ac.uk/">Consumer Data Research Centre</a> to find out more about
              our available data products, related maps, and details on how to gain access to our Open, Safeguarded, and Secure data sets.
            </p>
          </div>
        </div>
      </div>

      <!--worldnames2-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class='alert bg-notes text-justify'>
            <h4>Worldnames 2</h4>
            <p class="text-muted pt-2">
              Interested in international occurences of names? Find out more about the
              <a href="https://www.uclpress.co.uk/products/114094?utm_source=author&utm_medium=author&utm_campaign=author">Worldnames 2</a>
              project in Chapter 4 of our Open Access book on
              <a href="https://www.uclpress.co.uk/products/114094?utm_source=author&utm_medium=author&utm_campaign=author">Consumer Data Research</a>.
            </p>
          </div>
        </div>
      </div>

      <!--notes-->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class='alert bg-notes mb-2 text-justify'>
            <h4>Notes</h4>
            <p class="text-muted pt-2">
              GBNames is intended to show interesting geographical patterns of names, rather than mapping individuals or families.
              We do not map or show statistics for names with less than 100 occurences per year. In total we have statistics for
              over 40,000 unique surnames; these names account for 88 per cent of the 2016 adult population in England, Wales, and
              Scotland. See Methodology page for further information on GBNames and methodology that we use.
           </p>
          </div>
        </div>
      </div>

      <!--footer-->
      <div class="row justify-content-center mt-0">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="mb-3 text-justify">
            <small>
              &copy; <a href="https://cdrc.ac.uk/">Consumer Data Research Centre</a> and <a href="https://www.ucl.ac.uk/urban-dynamics-lab">Urban Dynamics Lab</a> {% now "Y" %}.
              All rights reserved. Project led by <a href="http://paul-longley.com/">Prof Paul Longley</a>.
              Data science and website by <a href="https://www.mappingdutchman.com">Dr Justin van Dijk</a>.
              Questions or feedback? Please contact <a href="mailto:info@cdrc.ac.uk">info@cdrc.ac.uk</a>.
            </small>
          </div>
          <div class="text-center">
            <a href="https://www.cdrc.ac.uk/"><img src="{% static 'cdrc_logo.png' %}" class="text-center" height="150" width="150" alt="cdrc logo"/></a>
            <a href="https://www.ucl.ac.uk/urban-dynamics-lab/"><img src="{% static 'udl_logo.png' %}" class="text-center" height="80" width="140" alt="udl logo"/></a>
        	</div>
        </div>
      </div>

      <!--close main content-->
    </div>
  </div>

  <!--cookie alert-->
  <div class="alert text-center cookiealert" role="alert">
    By using our site, you acknowledge that you have read and understand UCL's <a href="https://www.ucl.ac.uk/legal-services/privacy/cookie-policy" target="_blank">Cookie Policy</a>
    and <a href="https://www.ucl.ac.uk/legal-services/privacy/general-privacy-policy">Privacy Policy</a>.
    <button class="btn m-0 p-0 acceptcookies float-right" style="color:white" aria-label="Close"><span class="fas fa-times fa-lg"></span</button>
  </div>

  <!-- jQuery-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!--leaflet js-->
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
  <!--leaflet slider js-->
  <script src="https://cdn.rawgit.com/nezasa/iso8601-js-period/master/iso8601.min.js" crossorigin="anonymous"></script>
  <!--leaflet easy button js-->
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js" crossorigin="anonymous"></script>
  <!--cookie alert js-->
  <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js" crossorigin="anonymous"></script>
  <!--custom js-->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/search.js' %}"></script>
  <script src="{% static 'js/modal.js' %}"></script>
  <script src="{% static 'js/table.js' %}"></script>
  <script src="{% static 'js/timedimension.js' %}"></script>
  <script src="{% static 'js/map.js' %}"></script>
  <script src="{% static 'js/render.js' %}"></script>
  <!-- boostrap js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!--tracking-->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157283744-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-157283744-5');
  </script>

</body>
</html>
